<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867336087217-aobquldrgecd9q2u8dejh2knm323721c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867336087217-aobquldrgecd9q2u8dejh2knm323721c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867336087217-f6fnahnr0a6i9bstiuseii5gle5r0a7v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRT5leiusmkFpLdYwJWmdkROjQatPA_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>867336087217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.store.ChefOnline</string>
	<key>PROJECT_ID</key>
	<string>recipes-847cf</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-847cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867336087217:ios:8eb0cae3061a9e563da490</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-847cf.firebaseio.com</string>
</dict>
</plist>